//resets
@import '../../styles/mixins';

html , body {
	wight: 100%;
	height: 100%;

	ul {
		list-style:none;
		padding: 0;
	}
}



//bootstrap overrides
#root .invoice-form {
	font-size: 1.6rem;
	.infobox {
		margin-bottom: 3rem;
		margin-top: 1rem;
		padding: 2rem;
	}
	.form-control {
		height: 4rem;
		font-size: 1.5rem;
	}
	.form-group {
		label {
			//font-size: 1.6rem;
    		font-weight: normal;    		
		}
	}
	
	.total-send {
		margin-right: 2rem;
	}
}

.pos-relative {
	position: relative;	
}

.total {
		margin-bottom: 2rem;
		text-align: right;
		
		.total-text {
			margin-right: 1rem;
		}
		.currency {
			margin-right: 0.2rem;
		}
	}

@media (min-width: 1200px) {
    .container{
        max-width: 750px;
        padding: 4rem;
        margin-top: 10rem;
        border: 1px solid #f1f1f1;
        @include border-radius(5px);

        .form-group label {
    		line-height: 2.5;
    	}    
    }
}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px) {
	.container {
		margin-top: 2rem;
	}
}
